Source: @TARNAME@
Section: x11
Priority: optional
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Uploaders: Nicolas Spalinger <nicolas.spalinger@@sil.org>, Daniel Glassey <wdg@@debian.org>
Build-Depends: debhelper (>= 4.1.0), defoma (>= 0.7.0) @DEB_BUILD_EXTRAS@
Standards-Version: 3.7.2.2

Package: @TARNAME@
Architecture: all
Depends: defoma
Suggests: x-ttcidfont-conf | fontconfig, libgraphite3, pango-graphite, fontforge, fontforge-doc, inkscape, libfont-ttf-perl, fonttools, gucharmap, gwaterfall, freetype2-demos
Description: @DESC_SHORT@
@indent $(.SP),$(DESC_LONG)@
